/.idea
/.vs
/.svn
/Binaries
/Build
/DerivedDataCache
/Intermediate
/Saved
/Content
/Battle.sln
/Plugins/BattlePlugin/Intermediate
/Plugins/BattlePlugin/Binaries
/Plugins/BattleAnimNodePlugin/Intermediate
/Plugins/BattleAnimNodePlugin/Binaries
/Plugins/RootMotionExtractor/Intermediate
/Plugins/RootMotionExtractor/Binaries
battle_WwiseProject
Plugins/Wwise/Binaries
Plugins/Wwise/Intermediate
/Plugins/Developer/RiderLink/
/Plugins/Linter/Intermediate
/Plugins/Linter/Binaries
/Plugins/AnimationWarping/Intermediate
/Plugins/AnimationWarping/Binaries
/Plugins/MotionWarping/Binaries
/Plugins/MotionWarping/Intermediate
/Battle.sln.DotSettings.user
/Plugins/MasterServerList/Intermediate
/Plugins/MasterServerList/Binaries
/BattleTest.Automation/obj
/Plugins/BattleGauntletTest/Intermediate
/Plugins/BattleGauntletTest/Binaries
/BattleTest.Automation/bin
/GauntletOutPut
/Test/BattleTest.Automation/bin
/Test/BattleTest.Automation/obj
/BuildPackages
EXE
/Plugins/PythonLibraryPlugin/Binaries
/Plugins/PythonLibraryPlugin/Intermediate
/Plugins/PythonLibraryPlugin/Content
/QA_test_svn
Source/.idea/
/QA_Case
/initproject.bat
/Plugins/SkinnedDecalComponent/Intermediate
/Plugins/SkinnedDecalComponent/Binaries
/start_project.bat
/Start_project
